body{
	font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif; 
	font-size:10px;
}
a.button{
	background:url(images/img/button2.gif);
	display:block;
	color:#555555;
	font-weight:bold;
	height:30px;
	line-height:29px;
	margin-bottom:14px;
	text-decoration:none;
	width:148px;
}
a:hover.button{
	color:#009900;
}

/* --------------------
 Clases acciones
 -------------------- */
	.doc{
		background:url(images/img/doc.gif) no-repeat 10px 8px;
		text-indent:30px;
		display:block;
	}
	.msg{
		background:url(images/img/msg.gif) no-repeat 10px 8px;
		text-indent:30px;
		display:block;
	}
	.file{
		background:url(images/img/file.gif) no-repeat 10px 8px;
		text-indent:30px;
		display:block;

	}
	.edos{
		background:url(images/img/chat-home.gif) no-repeat 10px 8px;
		text-indent:30px;
		display:block;
	}
	.girar{
		background:url(images/img/gira.gif) no-repeat 10px 8px;
		text-indent:30px;
		display:block;
	}